apiVersion: v1
kind: Secret
metadata:
  name: xyliganimbot-secrets
  namespace: xyliganimbot
type: Opaque
stringData:
  # Используйте stringData для удобства (значения будут автоматически закодированы в base64)
  # Либо используйте data и указывайте base64 значения
  TELEGRAM_BOT_TOKEN: "your_token_here"
  GOOGLE_SERVICE_ACCOUNT_KEY: "your_json_key_content_here"
  # Дополнительные переменные окружения
  LOG_LEVEL: "INFO"
